body {
  margin: 0;
  padding: calc(env(safe-area-inset-top, 24px) + 36px) calc(env(safe-area-inset-right) + 24px) calc(env(safe-area-inset-bottom, 24px) + 36px) calc(env(safe-area-inset-left) + 24px);
  background-color: gainsboro;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: darkslategray;
  }
}