@import url(/css/common.css);

.title {
  margin: 32px 0;
}

.p-end {
  margin-bottom: 32px;
}

.x-okr-kr {
  display: flex;
  align-items: center;
}

.x-okr-kr x-text-progress {
  margin-right: 4px;
}

.x-okr-kr x-check {
  width: 22px;
  height: 22px;
  margin-right: 4px;
}

.intent-item {
  padding-left: 24px;
}