@import url(/css/common.css);

.travel-place {
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}

.travel-place-icon {
  width: 16px;
  height: 16px;
  transform: translateY(4px);
  margin-right: 2px;
}

.travel-place-name {
  font-size: 24px;
}

.travel-place-full-name {
  font-size: 12px;
  color: Gray;
  margin-left: 4px;
  flex: 1;
}

.travel-date {
  font-size: 12px;
  color: Gray;
  margin-left: 4px;
}

.travel-place-text {
  font-size: 14px;
  margin: 8px 0;
}

.travel-place-cover {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
}